/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 /*##### IMPORTS #####*/
 /* ### Main Pages */
 /* # Global */
 :root {
    /* these are place holders */
    --color-one: #000000;
    --color-two: #830404;
    --color-three: #646440;
    --color-four: #238920;
 }
 @import 'global/header.scss';
 @import 'global/footer.scss';
 /* # Public Pages */
 /* # User Pages */
 /* # Admin Pages */